
/*
 * Here you can adjust table
 */
table.delivery td.na ,
table.delivery td.full,
table.delivery td.free,
table.delivery td.cost {
  text-align:center;
}

/* time slot on header */
table.delivery td.deliveryday {

}
table.delivery td.deliverydate {
  text-align:right;
  font-style:italic;
}
table.delivery th.deliverytimeslot {

}

/* day on header */
table.delivery td.deliverytimeslot {

}
table.delivery th.deliverydate {

}
table.delivery th.deliverydate .deliveryday {
  text-align:center;
  font-style:italic;
}

/*
 * Here you can adjust colors
 */

/* no timeslot */
table.delivery td.na {
  background-color:#ffffff;
}
/* timeslot full */
table.delivery td.full {
  background-color:#ffc8c8;
}
/* timeslot free */
table.delivery td.free {
  background-color:#dfefff;
}
/* mouse hover on free timeslot */
table.delivery td.free:hover {
  background-color:#acadff;
}

/* admin section */
.uc-deliverytable-special,
.uc-deliverytable-default {
  border:1px solid #DDDDDD;
  padding:10px;
  margin-bottom:5px;
}

#schedule-wrapper {
  clear: both;
}
